.miniBoard {
	display: grid;
	grid-template-columns: repeat(var(--rows), 1fr);
	gap: 0.1em;
	width: fit-content;
	margin: 0.3em 0;
}
.miniBoardTile {
	width: 1em;
	aspect-ratio: 1 / 1;
	&[data-tile="X"] {
		background-color: var(--dark);
	}
	&[data-tile="O"] {
		background-color: #ffffff;
	}
	&[data-tile="!"] {
		background-color: #b92323;
		animation: red-flash infinite 2s linear;
	}
	background-color: #77777777;
}
@keyframes red-flash {
	0% {
		background-color: #b92323;
	}
	50% {
		background-color: #ffffff;
	}
	100% {
		background-color: #b92323;
	}
}