.board {
	display: grid;
	grid-template-columns: repeat(var(--rows), 1fr);
	width: fit-content;
	gap: 0.2em;
	padding: 0.2em;
	border: 0.2em solid var(--light);
	position: relative;
	-webkit-user-drag: none;
	&[data-lost] {
		border-color: #707070;
	}
}
.shop {
	display: flex;
	flex-direction: column;
	width: fit-content;
	gap: 0.2em;
	padding: 0.4em;
	border: 0.2em solid var(--light);
	position: relative;
	-webkit-user-drag: none;
}
.shopLeft {
	width: 16em;
}
.shopRight {
	width: 15em;
}
.shopTop {
	display: flex;
}
.shopBottom {
}
.price {
	text-align: center;
	color: #ffffffee;
	padding: 0.2em 0.4em;
	font-weight: bold;
	&[data-unusable] {
		color: #ce5252;
	}
}
.shopRows {
	display: flex;
	gap: 0.2em;
	.shopItem {
		.itemBox {
			border: 0.2em solid #eeeeee33;
			&:hover {
				border: 0.2em solid #ffffffee;
			}
		}
		.sold {
			border: 0.2em solid #eeeeee22;
			.tool {
				border: none;
				cursor: not-allowed;
				color: #eeeeee33;
			}
		}
	}
}
.loseOverlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	background-color: #0000009c;
	mix-blend-mode: color-burn;
}
.headerRows {
	display: flex;
	flex-direction: column;
	gap: 0.25em;
	padding: 1em;
}
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 3em;
	width: 40em;
	div {
		text-shadow: #5b5b5b 0.08em 0.08em;
		font-weight: bold;
	}
}
.score {
	font-size: 6em;
	color: #ffffff;
}
.loseMessage {
	font-size: 3.5em;
	color: #ff9f9f;
}
.moves {
	font-size: 6em;
	color: #d7dff8;
	&[data-moves="0"] {
		color: #c3d1ff;
	}
}
.levelRow {
	display: flex;
	height: 3em;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #ffffff;
	& > div {
		font-size: 3em;
		filter: drop-shadow(#5b5b5b 0.08em 0.08em);
		font-weight: bold;
	}
}
.comboRow {
	display: flex;
	height: 4em;
	& > div {
		font-size: 3em;
		filter: drop-shadow(#5b5b5b 0.08em 0.08em);
		font-weight: bold;
	}
}
.combo {
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
}
.balance {
	margin-left: auto;
	color: #ffffff;
}

.center {
	display: flex;
	gap: 1em;
	margin: 2em;
	position: relative;
}

.toolbar {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}
.toolList {
	display: flex;
	flex-direction: column;
	padding: 0.2em;
	border: 0.2em solid var(--light);
	gap: 0.2em;
	flex-grow: 1;
	height: calc(4 * 5.2em + 0.2em);
}
.energyBar {
	display: flex;
	padding: 0.2em;
	border: 0.2em solid var(--light);
	gap: 0.2em;
	width: 3em;
	height: calc(3em * var(--max-energy) + 0.4em + 0.2em * (var(--max-energy) - 1));
	margin-top: auto;
	flex-direction: column-reverse;
	&[data-highlight] {
		border-color: #ce5252;
		&::before {
			content: "";
			border: 0.2em solid #ce525288;
			height: 3em;
			width: 100%;
			animation: blink 0.8s infinite steps(1);
		}
	}
}
@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.targetLine {
	position: absolute;
	width: 100%;
	height: 0;
	top: calc(3.2em * var(--index) + 0.1em);
	border-top: var(--light) dashed 0.2em;
	translate: 0 -50%;
	z-index: 3;
	pointer-events: none;
}
.energyTile {
	background-color: var(--light);
	height: 3em;
	width: 100%;
}
.toolAbilityBox {
	padding: 0.2em;
	border: 0.2em solid var(--light);
}
.toolAbility {
	width: 5em;
	aspect-ratio: 1 / 1;
}
.tool {
	text-align: center;
	aspect-ratio: 1 / 1;
	color: var(--light);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 5em;
	cursor: pointer;
	&:hover {
		border: 0.2em solid #eeeeee33;
	}
	&[data-unusable] {
		opacity: 0.6;
	}
	&[data-selected] {
		border: 0.2em solid #ffffffee;
		&[data-unusable] {
			border-color: #ce5252;
		}
	}
}
.itemBox {
	position: relative;
}
.tooltipLabel {
	text-align: center;
	color: white;
	padding: 0.25em 1em;
	width: fit-content;
	margin: 0 auto;
	font-weight: bold;
	font-size: 0.85em;
	margin-bottom: -0.4em;
	min-width: 6em;
	&[data-type="tool"] {
		background-color: #ce5252;
	}
	&[data-type="ability"] {
		background-color: #8e6bdf;
	}
	&[data-type="trinket"] {
		background-color: #557a36;
	}
}
.tooltipBox {
	position: absolute;
	border: 0.2em solid var(--light);
	background-color: #000000cc;
	backdrop-filter: blur(4px);
	color: var(--light);
	padding: 0.5em;
	z-index: 10;
	width: 18em;
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	pointer-events: none;
	top: 0;
	left: 0;
	p {
		margin: 0;
		word-wrap: pretty;
	}
	h1 {
		margin: 0;
		&[data-rarity="common"] {
			color: white;
		}
		&[data-rarity="rare"] {
			color: #f7d792;
		}
	}
	&[data-anchor="right"] {
		left: calc(100% + 0.5em);
	}
	&[data-anchor="bottom"] {
		top: calc(100% + 0.5em);
	}
}
.inventory {
	display: grid;
	padding: 0.2em;
	border: 0.2em solid var(--light);
	gap: 0.2em;
	grid-template-rows: 5em;
	grid-template-columns: repeat(8, 5em);
}
.trinketUses {
	text-align: right;
	&[data-unusable] {
		opacity: 0.6;
	}
}
.itemCost {
	font-size: 1.5em;
	font-weight: bold;
	&[data-unaffordable] {
		color: #ce5252;
	}
}
.tile {
	width: 3em;
	aspect-ratio: 1 / 1;
	transition: all 0.1s;
	transition-property: scale, rotate, background-color;
	cursor: pointer;
	&[data-state="O"] {
		background-color: var(--light);
	}
	&[data-state="X"] {
		background-color: var(--dark);
	}
	&[data-state="S"] {
		background-color: #9b9b9b;
		border: 0.2em solid #686868;
	}
	&[data-state="R"] {
		background-color: #b3ae8c;
		border: 0.2em solid #6c6958;
	}
	&[data-state=" "] {
		background-color: transparent;
		cursor: unset;
	}
	&:hover,
	&[data-hover] {
		scale: 1.1;
		border: 0.2em solid white;
		&[data-highlight] {
			border-color: #ce5252;
		}
		&[data-trinket] {
			border-color: #b6f1b1;
		}
	}
	&:active,
	&[data-active] {
		scale: 0.9;
	}
}
.main {
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.shopImage {
	width: 100%;
	image-rendering: pixelated;
}
.winScreen,
.loseScreen {
	position: absolute;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	width: 85%;
	height: 80%;
	background-color: #111111;
	padding: 1em 1em;
	border: var(--light) 0.2em solid;
	color: var(--light);
	z-index: 100;
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	font-size: 1.3em;
	h1,
	p {
		margin: 0;
		padding: 0;
	}
}
.cursorAnchor {
	position: fixed;
	z-index: 1000;
	pointer-events: none;
}
.cursorMoves {
	background-color: #000000cc;
	backdrop-filter: blur(4px);
	padding: 0.75em;
	border: var(--light) 0.2em solid;
	color: var(--light);
	translate: 0.8em 1.5em;
	&[data-trinket] {
		border-color: #9ec280;
	}
}
.footer {
	color: var(--light);
	font-size: 1.2em;
}
.moneyGain {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.2em 0.4em;
	background-color: #ffffff11;
	.moneyGainLabel {
		color: #f7d792;
	}
	.moneyGainAmount {
		font-weight: bold;
	}
}
